.navbar {
  display: flex;
  align-items: center;
}
.breads {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  @include rwd($md) {
    display: none;
  }

  .breadLink {
    pointer-events: none;
  }
}
