$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;
$orange: #f3971a;

/* ---------- Breakpoint ---------- */
$xs: 375px;
$sm: 767.98px;
$md: 1023.98px;
$lg: 1439.98px;

//sidebar
$menuBg: #304156;
$subMenuBg: #ffffff;
$menuHover: #ffecdf;
// $menuHover: #e6eeff;
